# Dependencies
node_modules/
dist/
.DS_Store

# VitePress & Build outputs
# Ignore the main build output for the docs folder
docs/.vitepress/dist/
# Ignore VitePress cache and internal storage
.vitepress/cache/
.vitepress/theme/.vitepress/
.output/
.vercel/
.netlify/

# Local environment files
.env
.env.local
.env.*.local

# Resources (as requested)
resources/
